<div class="form-group">
  <%= f.text_area :content, class: 'form-control mt-3', placeholder: 'Content' %>
</div>
<div class="form-group d-flex">
  <%= f.submit class: 'btn btn-primary mt-3 mx-auto' %>
</div>