<%= render '/shared/navbar' %>
<div class="card w-50 bg-light" style="margin: 0 auto; float: none; margin-top: 70px;">
  <div class="card-body">
    <%= link_to 'Back', post_comments_path, class: 'btn btn-outline-info btn-sm' %>
    <%= form_for @comment, url: post_comment_path(@post, @comment), method: :patch do |f| %>
      <%= render partial: 'form', locals: { f: f, comment: @comment } %>
    <% end %>
  </div>
</div>