<nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd; height: 50px">
  <div class="container-fluid">
    <%= link_to 'Project', posts_path, class:'text-decoration-none text-dark' %>
    <%= link_to 'Add Post', new_post_path, class: "nav-link text-black ms-auto px-2", data: { confirm: 'Are you sure?' } %>
    <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "nav-link text-black px-2" %>
  </div>
</nav>