<%= render '/shared/navbar' %>
<div class="card w-50 bg-light" style="margin: 0 auto; float: none; margin-top: 40px;">
  <div class="card-body">
    <%= link_to 'Back', posts_path, class: 'btn btn-outline-info btn-sm' %>
    <%= form_for @post, url: post_path(@post), method: :patch do |f| %>
      <%= render partial: 'form', locals: { f: f, post: @post } %>
    <% end %>
  </div>
</div>